/* RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* GENERAL */
body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  background-color: #121212;
  line-height: 1.5;
}

/* CONTAINER WIDTH - Mobile First */
.container {
  width: 100%;
  max-width: 375px; /* İlk hedef genişlik */
  margin: 0 auto;
}

/* TYPOGRAPHY */
h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-size: 14px;
}

/* ✅ Tablet Breakpoint */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* ✅ Desktop Breakpoint */
@media (min-width: 1280px) {
  .container {
    max-width: 1440px;
  }
}

/*  --!ÖNEMLİ!-- AÇIKLAMAYI OKUYUN--
    Yukarida tanimlanan genel stil kuralları üzerinde değişiklik yapmadan sadece kendi görev tanımıza ait comment ile ayrılmış başlıkların altına değişikliklerinizi uygulayın.     
*/

/* HEADER */

/* HERO */

/* ADVERTISEMENT */

/* ABOUT */

/* COURSES */

/* MENTORS */

/* SIGNUP */

/* REVIEWS */

/* FOOTER */
